@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1>Log in</h1>
<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit">Log in</button>
</form>
<p><a asp-page="/Register">Don't have an account? Sign up</a></p>
