@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
}

<h1>Sign up</h1>
<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <button type="submit">Sign up</button>
</form>
<p><a asp-page="/Login">Already have an account? Log in</a></p>
